.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #4e8db7,#243a95, #24227e);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
    display: flex;
    align-items: center;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

/* User: Khi đã đăng nhập */
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight: 400;
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    padding-top: 11px;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #b1afaf;
    display: none;
 }

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

 .header__navbar-user-menu::before{
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 112px;
    height: 8px;
}

 .header__navbar-user-item{

 }

.header__navbar-user-item-separate{
    border-top: 2px solid rgba(0, 0, 0, 0.05);
}

 .header__navbar-user-item a{
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 2px 16px;
 }

 .header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
 }

 .header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
 }

 .header__navbar-user-item a:hover{
    background-color: #dbe8ff;
 }


.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item, 
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    z-index: 1;
}

.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255,255,255,0.7);
    z-index: 3;
}

.header__navbar-item--separate{
    margin-left: 50px;
}

.header__navbar-item--strong{
    font-weight: 550;
    font-size: 20px;

}

.header__navbar-item--separate::after{
    content: "";
display: block;
    position: absolute;
    border-right: 1px solid hsl(224, 49%, 55%);
    height: 17px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon{
    font-size: 1.5rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer,
.header__navbar-bell,
.header__navbar-help{
    cursor: text;
    color: var(--white-color);
}

.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 5px;
    display: none;
    box-shadow: #000000;
    animation: fadeIn ease-in 0.3s;
    border-style: outset;
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child{
    margin-left: 11px;
}

.header__qr-link:last-child{
    margin-right: 11px;
}

.header__qr-dowload-img{
    height: 15px;
}

/* Header notification */

.header__notify{
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.33s;
    will-change: opacity, transform;
    display: none;
    border-radius: 2px;
}

.header__notify::before{
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -1px;
    top: -30px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 40px;
    user-select: none; 
}

.header__notify-list{
    padding-left: 0;
    list-style: none;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(137, 156, 197, 0.479);
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img{
    width: 64px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 550;
line-height: 1.5rem;
}

.header__notify-descriotion{
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
    font-style: italic;margin-top: 2px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: black;
    padding: 5px 16px;
    margin: auto;
    font-size: 1.1rem;
    font-weight: 400;
}

/* Authen modal */
/* Form đăng ký đăng nhập */
.auth-form{
    width: 500px;
    border-radius: 10px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form{
    
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.2rem;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    outline: none;
}

.auth-form__input:focus{
    border-color: var(--primary-color);
}

.auth-form__aside{
    margin-top: 20px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
}

.logined{
    text-decoration: none;
    color: var(--white-color);
}

.auth-form__controls-back{
    margin-right: 10px;
}

.auth-form__socials{
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
}

.auth-form__socials-icon{
    font-size: 1.7rem;
}

.auth-form__socials-icon--FB{
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials-icon--FB .auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 30px;
}

.auth-form__socials-icon--GG{
    background-color: var(--white-color);
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.2rem;
    text-decoration: none;
    color: #5a5959;
}

.auth-form__help-separate{
    display: block;
    height: 24px;
    border-left: 1px solid #EAEAEA;
    margin: 1px 16px 0;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* CSS cho class để cho vào form đăng ký */
.invalid{
    border-bottom: 2px solid red;
    width: 100%;
    height: 80px;
    color: red;
}

/* <!-- Header with search --> */
.header-with-search{
    /* height: var(--header-with-search-height); */
    display: flex; 
    align-items: center;
    height: 100px;
    margin-left: 75px;
}

.header__logo{
    width: 120px;
}

.header__logo-link{
    color: transparent;
    text-decoration: none;
}

.header__logo-img{
    width: 90px;
    color: var(--white-color);
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 2px;
    cursor: pointer;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 6px;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 5px);
    right: -8px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
    z-index: 1;
}

.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.1rem;
    color: #999;
    font: 400;
}

.header__cart-list-item{
    padding: 0;
    list-style: none;
    height: 35vh; 
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #e0e0e0;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #d4d4d4;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    font-size: 0.8rem;
    margin: 2px;
    color: #757575;
}

.header__cart-item-qnt{
    font-size: 1rem;
    color: #757575;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-describe{
    color: #757575;
    font-size: 0.9rem;
    font-weight: 300;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1rem;
    font-style: italic;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 550;
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
    background-color: #214fa5;
}

.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 0px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img{
    display: none;
    width: 60%;
}

.header__cart-list-no-cart-msg{
    display: none;
    text-align: center;
    color: var(--text-color);
}

.header__cart-notice{
    position: absolute;
    top: -7px;
    right: -13px;
    padding: 1px 7px;
    font-size: 1rem;
    line-height: 1.1rem;
    border-radius: 10px;
    border: 2px solid rgb(52, 90, 156);
    color: var(--primary-color);
    background-color: var(--white-color); 
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
   width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 15px;
    border-radius: 10px;
}

.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.header__search-select-label{
    font-size: 1.1rem;
    color: var(--text-color);
}

.header__search-select-icon{
    color: rgb(87, 87, 87);
    font-size: 1.5rem;
    margin: 0 7px;
    position: relative;
    top: 2px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    outline: none;
}

.header__search-btn:hover{
    background-color: #3a5a98;
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.1rem;
    color: var(--white-color);
}

 .header__search-option{
    position: absolute;
    right: 0px;
    top: calc(100% - 2px);
    width: 120px;
    list-style: none;
    box-shadow: 0 0 7px #000000;
    padding-left: 0;
    border-radius: 3px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    /* background-color: rebeccapurple; */
    position: absolute;
    top: -20px;
    left: 0;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
} 

.header__search-option-item:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header__search-option-item:hover{
    background-color: #ebe9e9;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i{
    font-size: 1rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* Lịch sử tìm kiếm */
.header__search-history{
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 1px 3px #666;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.1rem;
    color: #999999;
    font-weight: 200;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;
}

.header__search-history-list-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-list-item:hover{
    background-color: #ecebeb;
    cursor: pointer;
}

.header__search-history-list-item a{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* App container */
.app__container{
    background-color: #F5F5F5;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);
}

.app__content{
    padding-top: 38px;
}

.category__heading{
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 12px 16px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category__heading-icon{
    font-size: 1.3rem;
    margin-right: 2px;
    position: relative;
    top: -1px;
}

.category__list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 15px;
}

.category__item{

}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 7px;
    transform: translateY(calc(50% - 8.5px));
}

.category-item__link{
    position: relative;
    color: var(--text-color);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 2px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
    font-weight: 560;
}

/* Home sort + filter */
.home-filter{
    background-color: rgba(92, 92, 92, 0.185);
    display: flex;
    align-items: center;
    padding: 18px 22px;
    border-radius: 4px;
}

.home-filter__label{
    font-size: 1.2rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__btn:hover{
    opacity: 0.9;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-right: 22px;
    font-weight: 550;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
text-decoration: none;
    box-shadow: 5px 5px 5px 5px #999999;
}

.home-filter__page-btn--disabled{
    cursor: default;
    background-color: #F9F9F9;
}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #EEE;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.1rem;
    color: #555;
}

/* Product item */

.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name{
    font-size: 1.1rem;
    font-weight: 550;
    color: var(--text-color);
    line-height: 1.7rem;
    height: 3.5rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;

}

.home-product-item__like{
    font-size: 13px;
    color: green;
    font-weight: 400;
}

.home-product-item__call{
    font-size: 13px;
    color: #3e75ce;
    font-weight: 400;  
}

.home-product-item__cart{
    font-size: 15px;
    color: green;
    margin: 0 10px;
}

.home-product-item__ratting{
    margin: 6px 10px 0;
    color: #D5D5D5;
}

.home-product-item__star-gold{
    color: var(--star-gold-color);
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: #dd059b;
    background-color: currentColor;
    font-size: 1.3rem;
    font-weight: 500;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    padding-right: 5px;
}

.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3.2px solid currentColor;
    border-left: 3.2px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span{
    color: var(--white-color);
}

.home-product-item__favourite i{
color: var(--white-color);
    font-size: 1.6rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgb(238, 202, 59);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgb(238, 202, 59) transparent rgb(238, 202, 59) ;
}

.home-product-item__sale-off-percent{
    color: var(--primary-color);
    font-weight: 550;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: -3px;
}

.home-product-item__sale-off-label{
    color:var(--white-color);
    font-size: 1rem;
    font-weight: 550;
    position: relative;
    top: -14px;
}

.home-product__pagination{
    margin: 50px 0 50px 0;
}

.footer{
    padding-top: 50px;
    border-top: 7px solid #25478d;
}

.footer__heading{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list{
    padding-left: 0;
    list-style: none;
}

.footer-item{
    
}

.footer-item__link{
    text-decoration: none;
    font-size: 1.1rem;
    color: #666;
    /* display: flex; */
    padding: 2px 0;
    align-items: center;
}

.footer-item__link:hover{
    color: var(--primary-color);
}

.footer-item__icon{
    font-size: 1.5rem;
    margin-top: -1px;
    margin: -1px 8px 0 0;
}

.footer__bottom{
    padding: 12px 0;
    background-color: #f5f5f5;
}

.footer__text{
    font-family: 'Times New Roman', Times, serif;
    margin: 0 0 0 70px;
    font-size: 1.1rem;
}

/* Ho so nguoi dung */
.user-profile{
    position: relative;
    background-color: #f4f4f4;
    padding: 5px;
    padding-bottom: 90px;
}

.user-profile__text{

}

.user-profile__me{
    font-size: 15px;
    padding-left: 48px;
}

.user-profile__me-primary{
    color: var(--primary-color);
    padding-left: 48px;
    font-size: 25px;
}

.user-profile__list-item{
    list-style: none;
    color: rgb(87, 87, 87);
}

.user-profile__list-item-link{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 4rem;
    margin-left: 7px;
    color: rgb(75, 75, 75);
}

.user-profile__list-item-icon{
    padding-left: 10px;
    font-size: 1.4rem;
}

.user-profile__list-item{
    width: 200px;
    padding: 2px;
}

.user-profile__list-item:hover{
    background-color: rgb(238, 238, 238);
}

.user-all{
    
}

.information__backround{
    margin-top: 50px;
    position: absolute;
    background-color: var(--white-color);
    width: 986px;
    height: 570px;
    top: 55px;
    right: 0;
    left: 270px;
    bottom: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
}

.information-account{
    font-size: 20px;
    color: #4e4e4e;
    text-align: center;
    margin-top: 30px;
}

.information-line{
    margin-top: 1px;
    margin-bottom: 50px;
border: 1px solid rgb(239 239 239);
}

.information-account__infor-bag{
    margin: 15px 50px 15px 50px;
    display: flex;
}

.information-account__infor{
    min-width: 130px;
    font-size: 1.2rem;
    color: #3b3b3b;
    margin-top: 6px;
}

.information-account__infor-input{
    flex: 1;
    height: 31px;
    border: 2px solid #a8a8a8;
    border-radius: 4px;
    outline: none;
    font-size: 1.2rem;
}

.information-account__infor-input:focus{
    border-color: var(--primary-color);
}

.information-account__infor-input-date{
    outline: none;
    border: 2px solid #a8a8a8;
    border-radius: 5px;
    width: 220px;
    font-size: 1.2rem;
    padding: 5px;
}

.information-account__infor-input-date:focus{
    border-color: var(--primary-color);
}

.information-left{
    margin-left: 50px;
}

.left__top{
    margin-left: 5px;
    font-size: 1.2rem;
    padding-top: 3px;
}

/* span{
    font-size: 1.2rem;
    margin-left: 4px;
} */

.update-avatar__describe{
    font-size: 1.2rem;
    margin-left: 4px;
}

.update-information{
    padding: 77px 0px 0px 50px;
    display: flex;
    margin-left: 813px;
}

.update-information__button{
    text-decoration: none;
    font-size: 1.3rem;
}

.update-information__button:hover{
    background-color: #214fa5;
}

.update-avatar{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 150px;
    margin-right: 27px;
}

.update-avatar__me-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.update-avatar__infor{
    margin-top: 20px;
    color: rgb(176, 181, 194);
}

/* Chi tiet san pham */
.product-detail-sum{
    display: flex;
}

.product-detail-top-left{
    width: 40%;
}

.product-detail-header{
    width: 100%;
    margin: 0 0 0 0;
    border-bottom: 1px solid #e8e8e8;
}

.product-detail-title h1{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}

.product-detail-img img{
    padding-top: 0 10px;
    max-width: 100%;
}



.product-detail-top-right{
    width: 49%;
}

.product-detail-info{
    font-size: 13px;
    margin-left: 15px;
    margin-right: 25px;
}

.product-detail-meta{
    font-size: 13px;
    width: 100%;
    margin: 10px 0 0;
    padding-bottom: 10px;
}


.sp{
    color: #288ad6;
    text-transform: uppercase;
}

.product-detail-sp{   
    margin: 0 10px;
}

.product-detail-sepatator{
    background: #aeaeae;
    width: 131px;
    height: 14px;
    margin: 0 10px;
}

.product_detail-star {
    width: 76px;
    height: 12px;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.home-product__ratting{
    margin: 0 5px;
}

.product-summary-item-title{
    margin: 0 10px;
    font-size: 13px;
    line-height: .5;
}

.product-summary-item-ul li{
    font-family: 'Courier New', Courier, monospace;   /* để tạm */
    font-size: 12px;
    list-style: none!important;
}

.price-product{
    border: 1px dashed #dddddd;
}

.cmt{
    color: #288ad6;
    text-transform: uppercase;
}

.product-detail-cmt{
    margin: 0 5px;
}
/* Giá Khuyến mãi */
.price-product{
    padding: 20px;
    border: 2px dashed #ddd;
    border-radius: 5px;
}

.gia-km-cu{
    color: #555;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 680;
}

.gia-dac-biet{
    background: linear-gradient(100deg,#243a95,#4479AF);
    color: #fff;
    padding: 1px 10px 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.giakm{
    font-size: 22px;
}

.giany{
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 10px;
}

.tietkiem{
    font-size: 14px;
    margin-left: 10px;
}

.ribbons{
    display: flex;
}

.ribbons-text{
    background: #f5f5f5;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 3px;
    border-radius: 3px;
    margin-right: 10px;
}

.add-item{
    margin-left: 342px;
    margin-top: 15px;
}

/* Trang chu */
.mr{
    margin-right: 1%;
}

.box-homepage__left{
    float: left;
}

.box-homepage__right{
    float: left;
    width: 75%;
}

.big__banner{
    float: left;
    width: 69%;
}

.small__banner{
    float: left;
    width: 30%;
}

.small__banner_right{
    width: 220px;
    height: 200px;
}



.bottom__banner_bot{
    position: relative;
    top: -150px;
    bottom: 150px;
    text-decoration: none;
}

.big__banner img, 
.small__banner img{
    width: 100%;
    display: block;
}

.small__banner img{
    border-radius: 5px;
    display: block;
    width: 365px;
    height: 167px;
}

.big__banner img{
    border-radius: 5px;
    height: 345px;
}

.small__banner img:nth-child(1){
    margin-bottom: 10px;
}

.bottom__banner{
    height: 63%;
    width: 70.1%;
    margin: 100px 0 0 0;
}

.bottom__banner img{
    border-radius: 5px;
    margin: -27px 10px 0 0;
    height: 166px;
    width: 310px;
}

.banner-spduoi img{
    position: relative;
    border-radius: 5px;
    width: 228px;
    height: 150px;
    margin: -155px 126px 0 -93px;
    top: 50px;
}

.banner-duoi{
    margin: -98px 0 6px 300px;
    display: flex;
}

.featured-product h2{
    background: rgb(225, 23, 1);
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    min-width: 100%;
	line-height: 1.5;
	display: inline-block;
    text-align: center;
}